<div class="books">
  <h1>Books</h1>
  <div class="books-contents">
    <h4 class="books-contents-title">Title</h4>
    <div class="books-title-main">
      <% @books.each do |book| %>
        <span class="main-title"><%= book.title %></span>
      <% end %>
    </div>
  </div>
  <div class="books-contents-2">
    <h4 class="books-contents-body">Body</h4>
    <div class="books-body-main">
      <% @books.each do |book| %>
        <span class="main-body"><%= book.body %></span>
      <% end %>
    </div>
  </div>
  <% @books.each do |book| %>
    <span><%= link_to "show", book_path(book.id) %></span>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model:@book, url:'/books', local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Body</h4>
  <%= f.text_area :body %>
  
  <P></P>
  <%= f.submit 'Create Book' %>
  
<% end %>
